@using BookManagement.Constant;
@using BookManagement.Models.Model;
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using BookManagement.Models.Entity;
@model PasswordModel
@{
    ViewData["Title"] = "Thay đổi mật khẩu";
}

@section css {

}

@section scripts {
    <script src="~/js/sb-admin-2.js"></script>
}

<div class="container-fluid account-info register-form mb-5">
    <div class="row px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <div class="d-flex align-items-center mb-3">
                <a href="/home">
                    <i class="menu-icon tf-icons bx bx-arrow-back" style="font-size: 1.5em;"></i>
                    Quay lại
                </a>
            </div>
            <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
                <div class="navbar-nav w-100 overflow-auto">
                    <a href="/account/infomation" class="nav-item nav-link">Thông tin tài khoản</a>
                    <a class="nav-item nav-link active">Đổi mật khẩu</a>
                </div>
            </nav>
        </div>
        <div class="col-lg-9 col-md-12">
            <h5>Thay đổi mật khẩu</h5>
            <div class="card">
                <div class="card-body">
                    @using (@Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
                    {
                        <div class="row justify-content-center mt-3">
                            <label class="col-sm-2 col-form-label text-align-end px-0">Mật khẩu hiện tại</label>
                            <div class="col-sm-4">
                                <div class="form-group form-password-toggle">
                                    <div class="input-group input-group-merge">
                                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control form-control-user", @id = "inp-old-password", @required = "required", @placeholder = "Nhập mật khẩu" })
                                        <span class="btn-user input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                    </div>
                                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <label class="col-sm-2 col-form-label text-align-end px-0">Mật khẩu mới</label>
                            <div class="col-sm-4">
                                <div class="form-group form-password-toggle">
                                    <div class="input-group input-group-merge">
                                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control form-control-user", @id = "inp-password", @required = "required", @placeholder = "Nhập mật khẩu" })
                                        <span class="btn-user input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                    </div>
                                    @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <label class="col-sm-2 col-form-label text-align-end px-0">Nhập lại mật khẩu</label>
                            <div class="col-sm-4">
                                <div class="form-group form-password-toggle">
                                    <div class="input-group input-group-merge">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-control-user", @id = "inp-re-password", @required = "required", @placeholder = "Nhập lại mật khẩu" })
                                        <span class="btn-user input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                    </div>
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Cập nhật</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>